.group {
  color: $white;

  &-item {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 12px 0px 24px;

    &-wrapper {
      width: 14px;
      height: 14px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 10px;

      &-icon {
      }
    }

    &-title {
      flex: 1;
    }

    &-dropdown {
      & svg {
        width: 10px;
        height: 10px;
      }
    }
  }
}
