// color
$white: #ffffff;
$red: #ff0000;

$blue-dark: #002140;
$blue-darker: #001529;
$blue-darkest: #000c17;

$grey-light: #a5a5a5;

$primary-color: #13c2c2;

// layout
$side-width: 256px;
$header-height: 64px;
