.item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  color: $white;
  padding-left: 48px;
  color: hsla(0, 0%, 100%, 0.65);

  &-link {
    color: inherit;
    text-decoration: none;
  }
}
